* {
    /* Clear browser styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.attribution {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 225px);
    width: 450px;
    display: flex;
    justify-content: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: revert;
}

body {
    background-color: rgb( 225, 232, 253);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

@media (min-width: 320px) {
    /* Mobile */
    body {
        background-image: url("../images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: auto;
        height: auto;
    }
}

@media (min-width: 1200px) {
    /* All other */
    body {
        background-image: url("../images/pattern-background-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 1440px;
        height: 900px;
    }
}

main {
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 225px);
    height: 700px;
    width: 450px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 26px 13px 0px #CCCCCC;
}

main>img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#card-info {
    margin: 50px;
    height: 400px;
    width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#plan-description {
    line-height: 1.5;
}

.btn-proceed-to-payment {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px 0px hsl(245, 75%, 52%);
    border: 0;
}

.btn-proceed-to-payment:hover {
    background-color: rgb(116, 111, 234);
    box-shadow: 0px 4px 12px 0px rgb(116, 111, 234);
}

.btn-order-cancellation {
    background-color: white;
    color: hsl(224, 23%, 55%);
    width: 100%;
    height: 50px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-order-cancellation:hover {
    color: hsl(223, 47%, 23%);
}

.annual-plan {
    background-color: rgb(248, 249, 254);
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.plan-info {
    width: 47%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.plan-info p {
    line-height: 1.5;
}

.annual-plan a {
    color: hsl(245, 75%, 52%);
    text-decoration: revert;
}

.annual-plan a:hover {
    color: rgb(116, 111, 234);
    text-decoration: unset;
}

.text-central {
    text-align: center;
}

.strong-color {
    color: hsl(223, 47%, 23%);
}

.weight-low {
    font-weight: 500;
}

.weight-medium {
    font-weight: 700;
}

.weight-max {
    font-weight: 900;
}